html,body{
	margin: 0;
}
li{
	list-style-type: none;
}
.navbar-left{
	display: flex;
	width: 100%;
	position: fixed;
	top: 0;
	padding: 30px 50px 35px;
	background-color: silver;

}
.sprite_logo{
	width: 46px;
	height: 55px;
	background-size: cover;
	background-color: tomato;
	display: inline-block;
}

.navbar_logo_right_text{
	width: 250px;
	height: 33px;
	margin: 0 30px 0 0;
	display: inline-block;
	position: relative;
	bottom: 12px;
	left: 8px;
}

.navbar_logo{
	width: auto;
	position: relative;	
}

.navbar_menu_center{
	display: flex;
}