*{
	box-sizing: inherit;
}
html,body{
	margin: 0;
	line-height: 1.5;
	font-family:'Assistant', sans-serif;
}
li{
	list-style-type: none;
	padding: 0;
    margin: 0;
}
ul{
	padding: 0;
    margin: 0;
	list-style-type: none;
}
a{
	text-decoration: none;
}
.all_menu{
	display: flex;
	width: 100%;
	position: fixed;
	top: 0;
	padding: 26px 50px 35px;
	background-color: white;

}
.sprite_logo{
	width: 46px;
	height: 55px;
	background-size: cover;
	background-color: tomato;
	display: inline-block;
	position: relative;
	top: 3px;
}

.navbar_logo_right_text{
	width: 250px;
	height: 33px;
	margin: 0 30px 0 0;
	display: inline-block;
	position: relative;
	bottom: 7px;
	left: 8px;
}


.navbar_menu_center{
	display: flex;
	box-sizing: inherit;
}

.nav_bar_menu_center_item{
	padding: 17px;
}

.nav_bar_menu_center_item a{
	color: rgba(77,77,77,.8);
	font-weight: bold;
	font-size: 18px;
	font-family: 'Nunito', sans-serif;
}

.homepage{
	height: 100vh;
	background-image: url(https://happy-kitchens.imgix.net/storage/uploads/homepage/kitchen-makeover-hampshire.png?w=1920&h=950&fit=crop&crop=edges,focalpoint&q=75&auto=format);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;

}

.navbar_menu_right{
	display: flex;

}

.navbar_menu_item_right a{
	color: rgba(77,77,77,.8);
	font-weight: bold;
	font-size: 18px;
	font-family: 'Nunito', sans-serif;
	margin-left: 50px;

}
@font-face{
	font-family: Crossten-Extrabold
	src: url(fons/Crossten-Extrabold.ttf);
}
.animation_first{
	width: 30%;
	height: auto;
	position: relative;
    background-color: #fff;
}

.animation_first h1{
	font-family: Crossten-Extrabold,sans-serif;
}
