html,body{
	margin: 0;
}

.navbar-1{
	width: 100%;
	position: fixed;
	top: 0;
	padding: 10px;
	background-color: silver;
	display:flex;
}
.sprite_logo{
	width: 46px;
	height: 55px;
	background-size: cover;
	background-color: tomato;
}

.navbar_logo_right_text{
	width: 100px;
	height: 50px;

}

.navbar_logo{
	width: auto;
	position: relative;	
	display: inline-block;
}